* {
    transition: all .5s ease-in-out;
}

.hero {
    font-family: 'Roboto Mono', monospace;
}

.card, .navbar {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: rgba(255, 255, 255, 0);
}

#bottom-cards .card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 3;
    cursor: pointer;
}

#big-card-column {
    margin: 0 0 0 500px;
}